<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict/>
	</dict>
	<key>sheetClusters</key>
	<array/>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>0b114a51c26b8030acde9f3245d67996602db9a349af2ec29a9fbd3e0e51e8a7</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
